<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ email }}'s Profile - Nittany Business</title>
    <style>
    .btn {
        color: white;
	text-align: center;
        border: none;
	display: inline-block;
        margin: 4px 2px;
    }

    #dropdown {
        width: 200px;
    }

    div {
        padding: 10px;
        border: 5px solid gray;
        margin: 0;
    }

    body {
        color:#444;line-height:1.6
    }
    </style><!-- Changing button style-->
</head>
<body>

<h1 align="center">Staff Recruitment: HelpDesk</h1>

<div class="container-sm">
    <h2>Request Details:</h2>

    <label for="userID" class="d-block mb-2 fs-5">
        User ID: {{ UserRequests[0] }}
    </label>
    <label for="requestMsg" class="d-block mb-2 fs-5">
        Request Message: {{ UserRequests[2] }}
    </label>
    <label for="requestID" class="d-block mb-2 fs-5">
        Request ID: {{ request_id }}
    </label>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <form action="/ApproveAccount" method="POST">
        <input type = "hidden" name = "email" value = "{{ email }}">
        <input type = "hidden" name = "userID" value = "{{ UserRequests[0] }}">
        <input type = "hidden" name = "requestID" value = "{{ request_id }}">
        <input type = "hidden" name = "requestMsg" value = "{{ UserRequests[2] }}">
        <button type="submit" class="btn btn-primary">Approve Request</button>
    </form>

    <form action="/ReturntoRequests" method="POST">
        <input type = "hidden" name = "email" value = "{{ email }}">
        <button type="submit" class="btn btn-secondary">Return to Requests</button>
    </form>


</div>
</body>
</html>