<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ email }}'s Profile - Nittany Business</title>
    <style>
        .button {
            color: gray;
            text-align: center;
            border: none;
            display: inline-block;
        }
    </style>
</head>
<body>

<div align="center" class="container-sm">
    <div>
        <h1>Edit Profile</h1>
    </div>
</div>

<div class="container-sm">
    <h2>User ID Request Details:</h2>
    <div class="col text-left">
        <label for="serID">User ID: {{ UserRequest[0] }}</label>
    </div>
    <div class="col text-right">
        <label for="RequestID">Request ID: {{ request_id }}</label>
    </div>
</div>
</body>
</html>h