<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ email }}'s Profile - Nittany Business</title>
    <style>
        .button {
            color: gray;
            text-align: center;
            border: none;
            display: inline-block;
        }
    </style>
</head>
<body>

<div align="center" class="container-sm">
    <div>
        <h1>Edit Profile</h1>
    </div>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<div class="container-sm">
    <div>
        <h2>Original Profile Details:</h2>
        <div class="row mb-3">
            <div class="col text-left">
                <label for="oldUserID">Original User ID: {{ email }}</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-left">
                <label for="oldBusinessName">Original Business Name: {{ buyer_data[0] }}</label>
            </div>
            <div class="col text-right">
                <label for="oldZipcode">Original Zipcode: {{ buyer_address[0] }}</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-left">
                <label for="oldCity">Original City: {{ buyer_location[0] }}</label>
            </div>
            <div class="col text-right">
                <label for="oldState">Original State: {{ buyer_location[1] }}</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-left">
                <label for="oldStreet">Original Street Name: {{ buyer_address[2] }}</label>
            </div>
            <div class="col text-right">
                <label for="oldStreetNum">Original Street Number: {{ buyer_address[1] }}</label>
            </div>
        </div>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <div>
        <h2>Edit Profile Details Below</h2>
    </div>

    <form id="update_profile" action="/UpdateBuyerProfile" method="POST">
        <input type="hidden" name="email" value="{{ email }}">
        <div class="form-group">
            <label for="newUserID">New User ID (This will not be updated unless approved by HelpDesk):</label>
            <input type="text" id="newUserID" name="newUserID" class="form-control" placeholder="Leave blank to keep {{ email }}">
        </div>
        <div class="form-group">
            <label for="verifyCurrPW">Enter Old Password:</label>
            <input type="password" id="verifyCurrPW" name="verifyCurrPW" required class="form-control">
        </div>
        <div class="form-group">
            <label for="newPassword">Enter New Password:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Leave blank to keep original password">
        </div>
        <div class="form-group">
            <label for="newBusinessName">New Business Name:</label>
            <input type="text" id="newBusinessName" name="newBusinessName" class="form-control" placeholder="Leave blank to keep {{ buyer_data[0] }}">
        </div>
        <div class="form-group">
            <label for="newStreetName">New Street Name:</label>
            <input type="text" id="newStreetName" name="newStreetName" class="form-control" placeholder="Leave blank to keep {{ buyer_address[1] }}">
        </div>
        <div class="form-group">
            <label for="newStreetNum">New Street Number:</label>
            <input type="text" id="newStreetNum" name="newStreetNum" class="form-control" placeholder="Leave blank to keep {{ buyer_address[2] }}">
        </div>
        <div class="form-group">
            <label for="newZipcode">New Zipcode (This will update your city and state based on the zipcode:</label>
            <input type="text" id="newZipcode" name="newZipcode" class="form-control" placeholder="Leave blank to keep {{ buyer_address[0] }}">
        </div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <button type="submit" class="btn btn-primary">Submit Changes</button>
    </form>


    <div class="mt-3">
    <form action="/BuyersHomePage" method="POST">
        <input type="hidden" name="email" value="{{ email }}">
        <button type="submit" class="btn btn-secondary">Return to HomePage</button>
    </form>
    </div>
    <br>
    <br>
</div>



<div class="modal fade" id="invalidZipcode" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Zipcode not found in database</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Unfortunately, the zipcode you entered is not supported by Nittany Business. Please enter a valid zipcode that we can deliver to.</p>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="incorrectCurrPW" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Incorrect Current Password</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Incorrect current password. Please enter your current password to administer these changes.</p>
        </div>
      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      {% if invalidZipcode %}
        $('#invalidZipcode').modal('show');
      {% endif %}
    });
</script>
<script>
    $(document).ready(function(){
      {% if incorrectCurrPW %}
        $('#incorrectCurrPW').modal('show');
      {% endif %}
    });
</script>
</body>
</html>

