<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ email }}'s Products - Nittany Business</title>
    <style>
    .button {
        color: gray;
	text-align: center;
        border: none;
	display: inline-block;
    }
    </style><!-- Changing button style-->
</head>
<body>
<div align="center" class="container-sm">
    <div>
        <h1 align = center>Edit Product</h1>
    </div>
</div>

<div class="container-sm">
    <div>
        <h2 align = left>Original Product Details:</h2>
    </div>

    <!-- Original Product Details here -->
    <form id="addForm" action="/UpdateProduct" method="POST">
        <div>
            <label for = newProdName>New Product Name:</label>
            <input type="text" id="newProdName" name="New Product Name" required class="form-control">
        </div>
        <div>
            <label for = newProdQty>New Product Quantity:</label>
            <input type="text" id="newProdQty" name="New Product Quantity" required class="form-control">
        </div>
        <div>
            <label for = newProdStatus>New Product Status:</label>
            <input type="text" id="newProdStatus" name="New Product Status" required class="form-control">
        </div>
    </form>
</div>
</body>
</html>