<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ email }}'s Products - Nittany Business</title>
    <style>
    .button {
        color: gray;
	text-align: center;
        border: none;
	display: inline-block;
    }
    </style><!-- Changing button style-->
</head>
<body>


<div align="center" class="container-sm">
    <div>
        <h1 align = center>Edit Product</h1>
    </div>
</div>

<div class="container-sm">
    <div>
        <h2 align = left>Original Product Details:</h2>

        <div class="row mb-3">
          <div class="col text-left">
            <label for="oldProdTitle">Original Product Title: {{ product[0] }}</label>
          </div>
          <div class="col text-right">
            <label for="oldProdName">Original Product Name: {{ product[1] }}</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col text-left">
            <label for = oldProdDescription>Original Product Description: {{ product[2] }}</label>
          </div>
          <div class="col text-right">
            <label for = oldProdCategory>Original Product Category: {{ product[3] }}</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col text-left">
            <label for = oldProdQuantity>Original Product Quantity: {{ product[4] }}</label>
          </div>
          <div class="col text-right">
            <label for = oldProdPrice>Original Product Price: {{ product[5] }}</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col text-left">
            <label for = oldProdStatus>Original Product Status: {{ product[6] }}</label>
          </div>
        </div>
    </div>

    <div>
        <label for="EditingRules">Edit Product Details Below (Please submit N/A for no change for that attribute)</label>
    </div>
    <!-- New Product Details here -->
    <form id="update_product" action="/UpdateProduct" method="POST">
        <input type="hidden" name="listing_id" value="{{ listing_id }}">
        <input type="hidden" name="email" value="{{ email }}">
        <div class="form-group">
            <label for = newProdTitle>New Product Title:</label>
            <input type="text" id="newProdTitle" name="newProdTitle" class="form-control" placeholder="Leave blank to keep {{ product[0] }}">
        </div>
        <div class="form-group">
            <label for = newProdName>New Product Name:</label>
            <input type="text" id="newProdName" name="newProdName" class="form-control" placeholder="Leave blank to keep {{ product[1] }}">
        </div>
        <div class="form-group">
            <label for = newProdDescription>New Product Description:</label>
            <input type="text" id="newProdDescription" name="newProdDescription" class="form-control" placeholder="Leave blank to keep {{ product[2] }}">
        </div>
        <div class="form-group">
            <label for = newProdCategory>New Product Category:</label>
            <input type="text" id="newProdCategory" name="newProdCategory" class="form-control" placeholder="Leave blank to keep {{ product[3] }}">
        </div>
        <div class="form-group">
            <label for = newProdQuantity>New Product Quantity:</label>
            <input type="text" id="newProdQuantity" name="newProdQuantity" class="form-control" placeholder="Leave blank to keep {{ product[4] }}">
        </div>
        <div class="form-group">
            <label for = newProdPrice>New Product Price:</label>
            <input type="text" id="newProdPrice" name="newProdPrice" class="form-control" placeholder="Leave blank to keep {{ product[5] }}">
        </div>
        <div class="form-group">
            <label for = newProdStatus>New Product Status (Note: Setting Status to 0 will remove product from marketplace, but keep product in database):</label>
            <input type="text" id="newProdStatus" name="newProdStatus" class="form-control" placeholder="Leave blank to keep {{ product[6] }}">
        </div>

        <button type="submit" class="btn btn-primary">Submit Changes</button>
    </form>
</div>
<div>
    <form action="/MyProducts" method="POST">
        <!-- Sends users back to their respective homepage -->
        <input type = "hidden" name = "email" value = "{{ email }}">
        <button type="submit" class="btn btn-primary">Return to My Products</button>
    </form>
</div>
</body>
</html>