<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Product Catalogue - Nittany Business</title>
    <style>
    .btn {
        color: white;
	text-align: center;
        border: none;
	display: inline-block;
        margin: 4px 2px;
    }

    #dropdown {
        width: 200px;
    }

    div {
        padding: 20px;
        border: 10px solid gray;
        margin: 0;
    }

    body {
        color:#444;line-height:1.6
    }
    </style><!-- Changing button style-->
</head>
<body>
<h1 align = center>Product Catalogue</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<form align="center" action="/BuyersHomePage" method="POST">
    <!-- Sends users back to their respective homepage -->
    <input type = "hidden" name = "email" value = "{{ email }}">
    <button type="submit" class="btn btn-primary">Return to HomePage</button>
</form>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<div align="center" class="container-sm card-body">
    <h2 class = "card-title">Products</h2>
    <h3 class = "card-title" id="currCategory">Category: {{ currCategory }}</h3>
    <form method="POST"><!-- Choose which page to route to based on dropdown selection -->
        <input type = "hidden" name = "email" value = "{{ email }}">
        <label for="dropdown">Select subcategory:</label>
          <select name="dropdown" id="dropdown">
            {% for category in subcategories %}
                <option value="{{category}}">{{category}}</option>
            {% endfor %}
          </select>
        <button type="submit" formaction="/BrowseProducts/{{ currCategory }}">Go!</button> <!-- Submit button -->
        <button type="submit" formaction="/BrowseProducts/Back/{{ currCategory }}">Back</button> <!-- Submit button -->
    </form>

    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product ID</th>
      <th scope="col">Category</th>
      <th scope="col">Qty</th>
    </tr>
  </thead>
  <tbody>
    {% for Product_Title, Listing_ID, Category, Quantity in productfile %}
    <tr>
      <td>
          <form id="goToProduct:{{ Listing_ID }}" method="POST" style="display:inline-block;">
              <input type="hidden" name="email" value="{{ email }}">
              <a href="{{ Listing_ID }}" onclick="let f=document.getElementById('goToProduct:{{ Listing_ID }}');
                          f.action='{{ url_for('BrowseProducts.browse_product', listing_id=Listing_ID) }}';
                          f.submit();
                          return false;">
                {{ Product_Title }}
              </a>
          </form>

      </td>
      <td>{{ Listing_ID }}</td>
      <td>{{ Category }}</td>
      <td>{{ Quantity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>
</html>