<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ product[2] }} - Nittany Business</title>
    <style>
    .button {
        color: gray;
	text-align: center;
        border: none;
	display: inline-block;
    }
    </style><!-- Changing button style-->
</head>
<body>
<div align="center" class="container-sm">
<div>
    <h1 align = center>Product Page</h1>
</div>
    <form action="/BrowseProducts" method="POST">
        <!-- Sends users back to their respective homepage -->
        <input type = "hidden" name = "email" value = "{{ email }}">
        <button type="submit" class="btn btn-primary">Return to Products</button>
    </form>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<div class="container-sm">
    <div>
        <h2 align = left>Original Product Details:</h2>

        <div class="row mb-3">
          <div class="col text-left">
            <label for="ProductSeller">Product Seller: {{ product[0] }}</label>
          </div>
          <div class="col text-right">
            <label for="ProductTitle">Product Title: {{ product[1] }}</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col text-left">
            <label for = ProductName>Product Name: {{ product[2] }}</label>
          </div>
          <div class="col text-right">
            <label for = ProductDescription>Product Description: {{ product[3] }}</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col text-left">
            <label for = ProductCategory>Product Category: {{ product[4] }}</label>
          </div>
          <div class="col text-right">
            <label for = ProductPrice>Product Price: {{ product[5] }}</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col text-left">
            <label for = ProductQuantity>Product Quantity: {{ product[6] }}</label>
          </div>
          <div class="col text-right">
            <label for = ProductQuantity>Seller Rating: {{ seller_rating[0] }}</label>
          </div>
        </div>
    </div>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<div class = "container-sm">
    <form id="update_product" action="/place_order" method="POST">
         <input type="hidden" name="email" value="{{ email }}"> <!-- allows for tracking the buyer by their email -->
         <input type="hidden" name="seller_email" value="{{ product[0] }}">
         <input type="hidden" name="listing_id" value="{{ listing_id }}">
         <div class="row mb-3">
              <div class="col text-left">
                <label for="QtyToBuy">Qty To Buy</label>
                <input type="text" id="QtyToBuy" name="QtyToBuy" required class="form-control">
              </div>
              <div class="col text-right">
                  <input type="hidden" name="email" value="{{ email }}">
                <button type="submit" class="btn btn-primary">Place Order</button>
              </div>
            </div>
    </form>
</div>

<!-- Modals -->
<!-- Modal for Qty not working with current amount available -->
<div class="modal fade" id="QtyOverAmtAvailable" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Quantity Amount Exceeded</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>The quantity attempted to purchase was higher than current amount available. Please enter a smaller amount.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
</div>
<!-- End Modals -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
      {% if overQty %}
        $('#QtyOverAmtAvailable').modal('show');
      {% endif %}
    });
</script>

</body>
</html>