<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Product Catalogue - Nittany Business</title>
    <style>
    .btn {
        color: white;
	text-align: center;
        border: none;
	display: inline-block;
        margin: 4px 2px;
    }

    #dropdown {
        width: 200px;
    }

    div {
        padding: 20px;
        border: 10px solid gray;
        margin: 0;
    }

    body {
        color:#444;line-height:1.6
    }
    </style><!-- Changing button style-->
</head>
<body>
<h1 align = center>Product Catalogue</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<form align="center" action="/BuyersHomePage" method="POST">
    <!-- Sends users back to their respective homepage -->
    <input type = "hidden" name = "email" value = "{{ email }}">
    <button type="submit" class="btn btn-primary">Return to HomePage</button>
</form>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<div align="center" class="container-sm card-body">
    <h2 class = "card-title">Products</h2>
    <h3 class = "card-title" id="currCategory">Category: {{ currCategory }}</h3>
    <form method="POST"><!-- Choose which page to route to based on dropdown selection -->
        <input type = "hidden" name = "email" value = "{{ email }}">
        <label for="dropdown">Select subcategory:</label>
          <select name="dropdown" id="dropdown">
          <option value=""></option>
            {% for category in subcategories %}
                <option value="{{category}}">{{category}}</option>
            {% endfor %}
          </select>
        <input type = "hidden" name = "email" value = "{{ email }}">
        <label for="keywordmenu">Select Keyword Specifier:</label>
        <select name="keywordmenu" id="keywordmenu">
            {% for specifiers in keywords %}
                <option value="{{ specifiers }}">{{ specifiers }}</option>
            {% endfor %}
        </select><!-- Submit button -->
        <label for="KeywordInput" class="mr-2"></label>
        <input type="text" id="KeywordInput" name="KeywordInput" class="form-control mb-2" placeholder="Enter keyword…">

        <button type="submit" formaction="/BrowseProducts/{{ currCategory }}">Go!</button> <!-- Submit button -->
        <button type="submit" formaction="/BrowseProducts/Back/{{ currCategory }}">Back</button> <!-- Submit button -->
    </form>

    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product ID</th>
      <th scope="col">Category</th>
      <th scope="col">Qty</th>
    </tr>
  </thead>
  <tbody>
    {% for Product_Title, Listing_ID, Category, Quantity in productfile %}
    <tr>
      <td>
          <form id="goToProduct:{{ Listing_ID }}" method="POST" style="display:inline-block;">
              <input type="hidden" name="email" value="{{ email }}">
              <a href="{{ Listing_ID }}" onclick="let f=document.getElementById('goToProduct:{{ Listing_ID }}');
                          f.action='{{ url_for('BrowseProducts.browse_product', listing_id=Listing_ID) }}';
                          f.submit();
                          return false;">
                {{ Product_Title }}
              </a>
          </form>

      </td>
      <td>{{ Listing_ID }}</td>
      <td>{{ Category }}</td>
      <td>{{ Quantity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<!-- Modals -->
<div class="modal fade" id="leaveRatingModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Leave a review!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <div class="mt-2">
                <label for="rateNumber" style="font-weight: bold">Choose a rating from 1 to 5:</label> <br />
            </div>
            <div class="btn-group mt-2" role="group">
                <button id="rateNumber" type="button" style="margin-right:16px" class="btn btn-outline-primary" onclick="selectRating(1)">1</button>
                <button id="rateNumber" type="button" style="margin-right:16px" class="btn btn-outline-primary" onclick="selectRating(2)">2</button>
                <button id="rateNumber" type="button" style="margin-right:16px" class="btn btn-outline-primary" onclick="selectRating(3)">3</button>
                <button id="rateNumber" type="button" style="margin-right:16px" class="btn btn-outline-primary" onclick="selectRating(4)">4</button>
                <button id="rateNumber" type="button" style="margin-right:16px" class="btn btn-outline-primary" onclick="selectRating(5)">5</button>
            </div>
            <h6 class="mt-2" id="currentRating">No rating selected yet.</h6>

            <div class="mt-5">
                <form id="reviewForm" action="">
                    <label for="reviewInput" style="font-weight: bold">How was your experience? (Max. 100 characters)</label> <br />
                    <textarea id="reviewInput" maxlength="100" style="height: 200px; width: 400px" placeholder="Begin writing here..."></textarea>
                </form>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
</div>
<!-- End Modals -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- Managing review rating display upon selecting a value from 1-5 -->
<script>
    $(document).ready(function(){
      {% if orderSubmitted %}
        $('#leaveRatingModal').modal('show');
      {% endif %}
    });
</script>
<script>
// Simple function to show selected rating
function selectRating(n) {
    document.getElementById('currentRating').innerText = "You selected: " + n;
}
</script>

</body>
</html>