<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ email }}'s Products - Nittany Business</title>
    <style>
    .button {
        color: gray;
	text-align: center;
        border: none;
	display: inline-block;
    }
    </style><!-- Changing button style-->
</head>
<body>
<div>
    <h1 align = center>Welcome {{ email }} - View Your Products Here</h1>
</div>
<div>
    <form action="/SellerHomePage" method="POST">
        <!-- Sends users back to their respective homepage -->
        <input type = "hidden" name = "email" value = "{{ email }}">
        <button type="submit" class="btn btn-primary">Return to HomePage</button>
    </form>
</div>

<div class = "card-body">
    <h2 class = "card-title">Products</h2>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product ID</th>
      <th scope="col">Category</th>
      <th scope="col">Qty</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for Product_Title, Listing_ID, Category, Quantity, Status in productfile %}
    <tr>
      <td>
          <a href="/MyProducts/EditProduct/{{ email }}Editing{{ Listing_ID }}">{{ Product_Title }}</a>
      </td>
      <td>{{ Listing_ID }}</td>
      <td>{{ Category }}</td>
      <td>{{ Quantity }}</td>
      <td>{{ Status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

</body>
</html>